KHAI BÁO THƯ VIỆN VÀ ĐỌC DỮ LIỆU

In [2]:
import pandas as pd
import numpy as np
df = pd.read_csv('valentine gift.csv')

EDA, KHAI THÁC DỮ LIỆU

In [3]:
df.shape

(218, 15)

In [4]:
df.columns

Index(['title', 'brand', 'description', 'starsBreakdown/3star',
       'starsBreakdown/4star', 'starsBreakdown/5star', 'reviewsCount', 'price',
       'price/currency', 'price/value', 'categoryPageData/productPosition',
       'Refined Title', 'Vector', 'Cluster', 'Gift Title Roles'],
      dtype='object')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 218 entries, 0 to 217
Data columns (total 15 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   title                             218 non-null    object
 1   brand                             217 non-null    object
 2   description                       46 non-null     object
 3   starsBreakdown/3star              218 non-null    float64
 4   starsBreakdown/4star              218 non-null    float64
 5   starsBreakdown/5star              218 non-null    float64
 6   reviewsCount                      216 non-null    float64
 7   price                             0 non-null      float64
 8   price/currency                    169 non-null    object
 9   price/value                       169 non-null    float64
 10  categoryPageData/productPosition  218 non-null    int64
 11  Refined Title                     218 non-null    object
 12  Vector                            218 non-null    object
 13  Cluster                           218 non-null    int64
 14  Gift Title Roles                  218 non-null    object
dtypes: float64(6), int64(2), object(7)
memory usage: 25.7+ KB

In [6]:
df.isnull().sum()

title                                 0
brand                                 1
description                         172
starsBreakdown/3star                  0
starsBreakdown/4star                  0
starsBreakdown/5star                  0
reviewsCount                          2
price                               218
price/currency                       49
price/value                          49
categoryPageData/productPosition      0
Refined Title                         0
Vector                                0
Cluster                               0
Gift Title Roles                      0
dtype: int64

In [7]:
df.nunique()

title                               218
brand                               168
description                          46
starsBreakdown/3star                 18
starsBreakdown/4star                 27
starsBreakdown/5star                 47
reviewsCount                        182
price                                 0
price/currency                        1
price/value                          82
categoryPageData/productPosition    212
Refined Title                       218
Vector                              218
Cluster                              10
Gift Title Roles                     10
dtype: int64

LÀM SẠCH DỮ LIỆU

In [8]:
df=df.drop(['price','categoryPageData/productPosition'], axis=1)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 218 entries, 0 to 217
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   title                 218 non-null    object
 1   brand                 217 non-null    object
 2   description           46 non-null     object
 3   starsBreakdown/3star  218 non-null    float64
 4   starsBreakdown/4star  218 non-null    float64
 5   starsBreakdown/5star  218 non-null    float64
 6   reviewsCount          216 non-null    float64
 7   price/currency        169 non-null    object
 8   price/value           169 non-null    float64
 9   Refined Title         218 non-null    object
 10  Vector                218 non-null    object
 11  Cluster               218 non-null    int64
 12  Gift Title Roles      218 non-null    object
dtypes: float64(5), int64(1), object(7)
memory usage: 22.3+ KB

In [10]:
mode_value = df['price/currency'].mode()[0]
df['price/currency']=df['price/currency'].fillna(mode_value)

In [11]:
mode_value_1 = df['price/value'].mean()
df['price/value']=round(df['price/value'].fillna(mode_value_1), 2)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 218 entries, 0 to 217
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   title                 218 non-null    object
 1   brand                 217 non-null    object
 2   description           46 non-null     object
 3   starsBreakdown/3star  218 non-null    float64
 4   starsBreakdown/4star  218 non-null    float64
 5   starsBreakdown/5star  218 non-null    float64
 6   reviewsCount          216 non-null    float64
 7   price/currency        218 non-null    object
 8   price/value           218 non-null    float64
 9   Refined Title         218 non-null    object
 10  Vector                218 non-null    object
 11  Cluster               218 non-null    int64
 12  Gift Title Roles      218 non-null    object
dtypes: float64(5), int64(1), object(7)
memory usage: 22.3+ KB

In [13]:
df = df.dropna(subset=['brand', 'reviewsCount'])

In [14]:
columns_to_drop = ['description', 'Vector', 'Cluster', 'Refined Title']
columns_existing = [col for col in columns_to_drop if col in df.columns]

df = df.drop(columns=columns_existing)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 215 entries, 0 to 217
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   title                 215 non-null    object
 1   brand                 215 non-null    object
 2   starsBreakdown/3star  215 non-null    float64
 3   starsBreakdown/4star  215 non-null    float64
 4   starsBreakdown/5star  215 non-null    float64
 5   reviewsCount          215 non-null    float64
 6   price/currency        215 non-null    object
 7   price/value           215 non-null    float64
 8   Gift Title Roles      215 non-null    object
dtypes: float64(5), object(4)
memory usage: 16.8+ KB

In [16]:
df.rename(columns={ 'title':'Title', 'brand':'Brand', 'starsBreakdown/3star': 'Stars Breakdown 3 Star', 
                   'starsBreakdown/4star': 'Stars Breakdown 4 Star', 'starsBreakdown/5star': 'Stars Breakdown 5 Star',
                   'reviewsCount':'Reviews Count', 'price/currency': 'Currency Symbol', 'price/value': 'Price Value'}, inplace=True)

In [17]:
df['Price Category'] = pd.qcut(df['Price Value'], q=3, labels=['Low', 'Medium', 'High'])

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 215 entries, 0 to 217
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Title                   215 non-null    object
 1   Brand                   215 non-null    object
 2   Stars Breakdown 3 Star  215 non-null    float64
 3   Stars Breakdown 4 Star  215 non-null    float64
 4   Stars Breakdown 5 Star  215 non-null    float64
 5   Reviews Count           215 non-null    float64
 6   Currency Symbol         215 non-null    object
 7   Price Value             215 non-null    float64
 8   Gift Title Roles        215 non-null    object
 9   Price Category          215 non-null    category
dtypes: category(1), float64(5), object(4)
memory usage: 17.1+ KB

LƯU DỮ LIỆU ĐÃ ĐƯỢC LÀM SẠCH

In [19]:
df.to_csv('valentine gift.csv', index=False)